<div id="main-wrapper">
	<header id="header">
		<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
			<div class="nav navbar-nav">
				<a class="nav navbar-brand" [routerLinkActive]="['active']" [routerLink]="['/home']">Angular 2 Drag-N-Drop</a>
				<div class="pull-xs-left">
					<a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['/home']">Sample</a>
				</div>
			</div>
		</nav>
	</header>
	<router-outlet></router-outlet>
	<footer id="footer">
		<p class="text-xs-right">
			Justin Ellery &copy; MMXVI
		</p>
	</footer>
</div>