/*    -- NAVBAR --    */
/* ------------------ */
.navbar{
    background-color: #1B9937 !important;
}
.navbar-brand {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1; 
    width: 100%;
    font-size: 1.8em;
}

header{
    padding-bottom:25px;
}



/*    -- FOOTER --    */
/* ------------------ */
footer{
    bottom: 0;
    height: 30px;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #F0F0F0;
    font-size:1.2em;
    border-top: 1px solid #0a0a0a;
    padding-right: 15px;
    margin-top:50px;
}