#title {
    padding-top: 50px;
    text-align: center;
}

#basic_example {
    padding-top: 50px;
}

#left-side {
    text-align: center;
    height: 600px;
    background-color: #37AB51;
}

#right-side {
    text-align: center;
    height: 600px;
    background-color: #15A034;
}


/* BUCKET CSS  */

.bucket div,
.gu-mirror {
    margin: 10px;
    padding: 10px;
    transition: opacity 0.4s ease-in-out;
    background-color: #37AB51

}

.bucket div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.bucket:nth-child(even) {
    background-color: #1A9936;
}

.bucket:nth-child(odd) {
    background-color: #0B7823;
}

.bucket .ex-moved {
    background-color: #e74c3c;
}

.bucket.ex-over {
    background-color: rgba(255, 255, 255, 0.3);
}