<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p class="lead" id="title">These are simple drag-n-drop examples I created using <a href="http://valor-software.com/ng2-dragula/index.html" target="_blank">ng2-dragula</a>.
        Examples are great and all, but the way I learned best was my creating some of my own (these ones)!</p>
    </div>
  </div>
  <div class="row" id="basic_example">
    <div class='parent'>
      <div class='wrapper'>
        <div class="bucket col-md-6" [dragula]='"first-bag"'>
          <div>You can move these elements between these two containers</div>
          <div>Moving them anywhere else isn't quite possible</div>
          <div>There's also the possibility of moving elements around in the same container, changing their position
          </div>
        </div>
        <div class="bucket col-md-6" [dragula]='"first-bag"'>
          <div>This is the default use case. You only need to specify the containers you want to use</div>
          <div>More interactive use cases lie ahead</div>
          <div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on
                GitHub!</a></div>
        </div>
      </div>
    </div>
  </div>
</div>